# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
*node_modules

# testing
/coverage

.idea

build/
build-debug/
build-test/
build-release/
cmake-build-release/
compile_commands.json
toolchain.cmake

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.css
spritesheets

.shadow-cljs
**/.nrepl-port
**/dist

*.log
/target
/*-init.clj
/resources/public/js/compiled
out
**/*.wasm
rust/pkg
cpp/CMakeCache.txt
cpp/.clangd/
cpp/build
cpp/build-wasm/
