{:source-paths ["src"]
 :dependencies [] 
 :builds {:lib {:target :node-library
                    :output-to "build/index.js"
                    :exports   {:battleSystem battle.core/battleSystem}}}}
