{:source-paths ["src"]
 :dependencies [] 
 :builds {:browser {:target :browser
                    :output-dir "build"
                    ;; :exports   {:battleSystem battle.core/battleSystem}}
                    :modules {:main {:entries [battle.core]}}}
          :node {:target :npm-module
                    :output-dir "node-build"
                    :exports   {:battleSystem battle.core/battleSystem}}}}
