{:source-paths ["src"]
 :dependencies [[cljfmt "0.5.1"]]
 :builds {:release {:target :npm-module
                 :output-dir "build/out"
                 :exports   {:start battle.core/start}}
          :node {:target :npm-module
                 :output-dir "node-build/out"
                 :exports   {:start battle.core/start}}}}
